.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 244, 243);
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container1 div{
    margin: 0.5rem;
}
.container1 button{
    background-color: lightblue;
    border: 1px solid black;
    padding: 0.5rem 1rem;
}
.finaladdbtn{
    align-self: center;
}
.input .addbtn{
    text-align: center;

}
.input{
    border: 1px solid black;
    padding: 1rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.task-edit{
    border: 1px solid black;
    padding: 1rem;    
}
.task-list{
    /* border: 1px solid black; */
    padding: 1rem;    
}

.innercontainer{
    border: 1px solid black;
    padding: 2rem 4rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
}
.editbtn{
    padding: 0.4rem 0.8rem;
    background-color: orange;
    border: none;
    border-radius: 1rem;
}
.deletebtn{
    padding: 0.4rem 1rem;
    background-color: red;
    border: none;
    border-radius: 1rem;
}
.completedbtn{
    padding: 0.4rem 0.5rem;
    background-color: lightgreen;
    border: none;
    border-radius: 1rem;
}
.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
}
.sortbtndate{
    margin: 1rem;
}